<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hello {{ name }}</title>
<!--Load bootstrap.css file-->
<link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="jumbotron">
<h1 class="display-4 mb-5">Hello My name, {{ name }}</h1>
<p>Email   		: {{ nis }}</p>
<p>Age 			: {{ kelas }}</p>
<p>Adrress 		: {{ nomer }}</p>
<p>Phone Number : {{ alamat }}</p>
<hr class="my-4">
<a class="btn btn-primary btn-lg" href="/post" role="button">add/change profile</a>
</div>
</div>
</div>
</div>
<!--Load bootstrap.js file-->
<script src="js/bootstrap.js"></script>
</body>
</html>